:root {
  --main-white: #f0f0f0;
  --main-blue: #0000ff;
  --main-light-blue: #005eff;
  --main-gray: #413039;
  --main-black: #141414;
  --main-gold: #ff7f50;
}

/* ________________btn */

.btn {
  padding: 1rem 6rem;
  border-radius: 8px;
  font-size: 1.2rem;
  color: var(--main-white);
  background: var(--main-black);
}

.btn-show-all:hover {
  background: var(--main-gold);
}

.btn-show-all > i {
  margin-left: 15px;
}

.projects-section {
  padding: 7rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  text-align: center;
  max-width: 100vw;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
  max-width: 90vw;
}

.two {
  grid-column: 2/4;
}

.five {
  grid-column: 2/4;
}

.project {
  border-radius: 1rem;
  border: 0.1rem solid rgb(199, 212, 251);
  background: var(--main-black);
}

.project:hover {
  background-color: var(--main-gold);
}

.project:hover {
  box-shadow: 1px 1px 22px rgba(0, 0, 10, 0.201);
}

.project-image {
  border-radius: 1rem 1rem 0 0;
  height: 16rem;
  max-width: 100vw;
  object-fit: cover;
}

.project-title {
  padding: 1.7rem 0rem;
  color: var(--main-white);
}

/* ____________________Contact section */

.contact-section {
  max-width: 100vw;
  color: var(--main-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.contact-head {
  font-size: 3rem;
  font-style: italic;
  font-weight: 800;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  gap: 7rem;
  z-index: 1111;
}

.contact-details {
  font-size: 1.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  color: var(--main-white);
}

.contact-details:hover {
  color: var(--main-gold);
}

/* _________________________Footer */

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-black);
  color: var(--main-white);
}

@media only screen and (max-width: 775px) {
  html {
    font-size: 42%;
  }

  h1 {
    padding-top: 4rem;
    font-size: 2.7rem;
  }
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .five {
    grid-row: 3/2;
  }
  .contact-links {
    justify-content: center;
  }

  .project {
    width: 43vw;
  }
  .area {
    background: linear-gradient(to left, #1020fb, #1a28ef);
    width: 100%;
    max-height: 30rem;
    position: relative;
  }
}

.typing {
  color: rgb(251, 255, 20);
}

.typing:after {
  content: "";
  animation: typing 5s linear infinite;
  font-weight: 700;
  text-decoration: underline;
}

@keyframes typing {
  0% {
    content: "<" "D" + "/>";
  }
  5% {
    content: "<" "De" + "/>";
  }
  10% {
    content: "<" "Des" + "/>";
  }
  15% {
    content: "<" "Desi" + "/>";
  }
  20% {
    content: "<" "Desig" + "/>";
  }
  25% {
    content: "<" "Design" + "/>";
  }
  30% {
    content: "<" "Designe" + "/>";
  }
  35% {
    content: "<" "Designer" + "/>";
  }
  40% {
    content: "<" "D" + "/>";
  }
  45% {
    content: "<" "De" + "/>";
  }
  50% {
    content: "<" "Dev" + "/>";
  }
  55% {
    content: "<" "Deve" + "/>";
  }
  60% {
    content: "<" "Devel" + "/>";
  }
  65% {
    content: "<" "Develo" + "/>";
  }
  70% {
    content: "<" "Develop" + "/>";
  }
  75% {
    content: "<" "Develope" + "/>";
  }
  80% {
    content: "<" "Developer" + "/>";
  }
}

.area h1 {
  font-size: 4rem;
  font-weight: 400;
}
.area h2 {
  font-weight: 400;
  font-size: 2.5rem;
}

.area {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.area {
  background: linear-gradient(to left, #1020fb, #1a28ef);
  width: 100%;
  height: 75vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // z-index: -1;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
