@import "../App.scss";

.home-h3 {
  font-size: 2rem;
  font-weight: 500;
  color: $darkGray;
  text-align: center;
  padding: 3rem;
}
.shopee-background {
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-white);
  position: fixed;
  z-index: -100;
}
