@import "../../App.scss";

.cart-detail-header {
  background: url("https://cdn.shopify.com/s/files/1/0304/5739/7386/files/bg_collection.jpg?v=1613680507")
    center;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.cart-h3 {
  font-size: 2.8rem;
  font-weight: 300;
  color: $darkGray;
  border-bottom: 1px solid $cream;
  padding-bottom: 5px;
}

.cart-span {
  font-size: 0.8rem;
  color: $lightGray;
}
.cart-detail {
  margin: 2rem 0rem;
}
.total-price {
  margin: 4rem 2rem 1rem 2rem;
  border: 1px solid $lightestGray;
  padding: 3rem 2rem;
}
.total-price p {
  font-size: 0.8rem;
  font-weight: 500;
  color: $darkGray;
}
.price-span {
  margin-left: 12rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: normal;
  color: $black;
}
.checkout-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1.3rem;
  background-color: $cream;
  color: #fff;
  text-align: center;
  transition: all 0.7s;
  cursor: pointer;
}
.checkout-btn:hover {
  background-color: $bg-darkGray;
}

.empty {
  text-align: center;
  margin: 10rem;
}
.empty-cart-span {
  display: block;
  margin-bottom: 1rem;
  font-weight: 400;
}
.empty-cart-btn {
  padding: 1rem 3rem;
  background-color: $black;
  color: $white;
  font-size: 0.9rem;
  cursor: pointer;
}
.table-title {
  display: none;
}
@media screen and (min-width: 400px) {
  .cart-detail {
    margin: 2rem 1rem;
  }
}
@media screen and (min-width: 550px) {
  .table-title {
    display: flex;
  }
}
@media screen and (min-width: 800px) {
  .cart-detail {
    margin: 5rem 8rem;
  }
}

//head image
.text-cart {
  font-size: 4rem;
}
.area1 {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.area1 {
  background: linear-gradient(to left, #1020fb, #1a28ef);
  width: 100%;
  min-height: 25vh;
}

.circles1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // z-index: -1;
}

.circles1 li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles1 li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles1 li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles1 li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles1 li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles1 li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles1 li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles1 li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles1 li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles1 li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles1 li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
