@import "../../../App.scss";

.product {
  flex: 1 1 100%;
  position: relative;
}

.img-box {
  box-sizing: border-box;
  margin: 2rem;
  padding: 2rem;
  border: 1px solid $lightestGray;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.img-box img {
  object-fit: cover;
}
.product {
  display: flex;
  flex-direction: column;
}
.btn-list {
  background-color: #fa464c;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  color: white;
  transform: translate(1rem);
  transition: all 0.5s linear;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0 4px 2px #00000012;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  width: 50%;
}
.product:hover .btn-list {
  transform: translate(0rem);
  visibility: visible;
  opacity: 1;
  transition: all 0.5s linear;
}
.btn-list .item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  font-size: 1.3rem;
  color: $lightGray;
  border-radius: 50%;
  position: relative;
}
.btn-list .item:hover {
  background-color: $cream;
  color: #fff;
}

.product-title {
  color: $lightGray;

  margin: 0.5rem 1.5rem;
  font-size: 1.3rem;
  font-weight: 500;
}
.product-title:hover {
  color: $cream;
  font-weight: 500;
  cursor: pointer;
}
.product-price {
  margin: 0.5rem 1.5rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  color: #212529;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  top: -40px;
  background-color: rgba($color: #000000, $alpha: 0.8);
  font-size: 0.8rem;
  letter-spacing: normal;
  z-index: 90;
  width: 70px;
  padding: 0.6rem 0.3rem;
  color: $white;
  text-align: center;
  border-radius: 5px;
  transform: translateY(-0.5rem);
}
.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.btn-list .item:hover .tooltip {
  visibility: visible;
  transform: translateY(0rem);
}

@media screen and (max-width: 400px) {
  .img-box {
    margin: 0rem 0rem;
  }
}

@media screen and (max-width: 500px) {
  .btn-list .item:hover .tooltip {
    visibility: hidden;
    transform: translateY(0rem);
  }
}

@media screen and (min-width: 650px) {
  .product {
    flex: 0 0 50%;
  }
}
@media screen and (min-width: 920px) {
  .product {
    flex: 0 0 33%;
  }
  .img-box img {
    width: 100%; /* 2 items per row, 100% / 2 = 50% */
    height: 200px;
    object-fit: contain;
  }
}
@media screen and (min-width: 1300px) {
  .product {
    flex: 0 0 25%;
  }
}
