@media screen and (min-width: 768px) {
  .drinks-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

.drinks-container a {
  text-decoration: none;
}

.drinks-container p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.drinklist img {
  border: 2px solid rgb(139, 137, 137);
  border-radius: 4px;
  padding: 5px;
  width: 750px;
  height: 300px;
}
